<!--h1 matDialogTitle>{{data.title}}</h1-->
<mat-toolbar matDialogTitle class="mat-primary m-0">
  <div fxFlex fxLayout="row" fxLayoutAlign="space-between center">
    <span class="title dialog-title">{{data.title}}</span>
    <button mat-icon-button (click)="dialogRef.close()" aria-label="Close dialog">
      <mat-icon>close</mat-icon>
    </button>
  </div>
</mat-toolbar>
  <form [formGroup]="itemForm">
    <div fxLayout="row wrap" fxLayout.lt-sm="column">

    <div fxFlex="50"  class="pr-16">
      <mat-form-field class="full-width" appearance="outline">
        <mat-label>Partenaire</mat-label>
        <mat-select  [formControlName]="'partnerNum'">
          <mat-option *ngFor="let partnerNum of listpartner" [value]="partnerNum.id">{{ partnerNum.name }}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div fxFlex="50"  class="pr-16">
      <mat-form-field class="full-width" appearance="outline">
        <mat-label>Titre</mat-label>
          <input
            matInput
            name="title"
            type="text"
            [formControlName]="'title'"
            placeholder="Titre">
      </mat-form-field>
    </div>

    <div fxFlex="50"  class="pr-16">
      <mat-form-field class="full-width" appearance="outline">
        <mat-label>Type budgétisation</mat-label>
        <mat-select  [formControlName]="'budgetingType'">
          <mat-option *ngFor="let budgetingType of budgetingTypes" [value]="budgetingType">{{ budgetingTypeMap[budgetingType] }}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    
    <div fxFlex="50"  class="pr-16">
      <mat-form-field class="full-width" appearance="outline">
        <mat-label>Taux journalier moyen</mat-label>
          <input
            matInput
            name="averageDayCost"
            type="number"
            [formControlName]="'averageDayCost'"
            placeholder="Budget par jour">
      </mat-form-field>
    </div>

    <div fxFlex="50"  class="pr-16">
      <mat-form-field class="full-width" appearance="outline">
        <mat-label>Devise</mat-label>
          <mat-select formControlName="currency">
            <mat-option  *ngFor="let currency of sortedCurrencies " [value]="currency">{{ currencyMap[currency] }}</mat-option>
          </mat-select>
      </mat-form-field>
    </div>

    <div fxFlex="50"  class="pr-16">
      <mat-form-field class="full-width" appearance="outline">
        <mat-label>Nombre de candidats</mat-label>
          <input
            matInput
            type="number"
            name="candidateNumber"
            [formControlName]="'candidateNumber'"
            placeholder="Nombre de candidats"
          >
      </mat-form-field>
    </div>

    <div fxFlex="50"  class="pr-16">
      <mat-form-field class="full-width" appearance="outline">
        <mat-label>Type opportunité</mat-label>
        <mat-select  [formControlName]="'requirementType'">
            <mat-option *ngFor="let requirementType of RequirementType" [value]="requirementType" >
                {{reqTypeMap[requirementType]}}
            </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div fxFlex="50"  class="pr-16">
      <mat-form-field class="full-width" appearance="outline">
        <mat-label>Type paiement</mat-label>
        <mat-select  [formControlName]="'paymentType'">
            <mat-option *ngFor="let paymentType of PaymentType" [value]="paymentType" >
                {{paymentTypeMap[paymentType]}}
            </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div fxFlex="50"  class="pr-16">
        <mat-form-field class="full-width" appearance="outline">
          <mat-label>Date de réponse</mat-label>
            <input  
              matInput [matDatepicker]="picker" 
              formControlName="responseDate" 
              placeholder="Date de réponse" 
            >
            <mat-datepicker-toggle  matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
      </div>

    

          <div fxFlex="50"  class="pr-16">

            <mat-form-field class="full-width" appearance="outline">
              <mat-label>Date prévue de clôture</mat-label>
                <input  
                  matInput [matDatepicker]="picker1" 
                  formControlName="closureDate" 
                  placeholder="Date prévue de clôture" 
                >
                  <mat-datepicker-toggle  matSuffix [for]="picker1"></mat-datepicker-toggle>
                  <mat-datepicker #picker1></mat-datepicker>
            </mat-form-field>
        </div>
        <div fxFlex="50"  class="pr-16">
          <mat-form-field class="full-width" appearance="outline">
            <mat-label>Démarrage dans</mat-label>
            <mat-select  [formControlName]="'availability'">
              <mat-option *ngFor="let availability of Availability" [value]="availability">{{ availabilityMap[availability] }}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        
        <div fxFlex="50" class="pr-16" *ngIf="isStartDayVisible()">
          <mat-form-field class="full-width" appearance="outline">
            <mat-label>Date prévue de démarrage</mat-label>
            <input  
              matInput [matDatepicker]="picker2" 
              formControlName="startDate" 
              placeholder="Date prévue de démarrage" 
            >
            <mat-datepicker-toggle  matSuffix [for]="picker2"></mat-datepicker-toggle>
            <mat-datepicker #picker2></mat-datepicker>
          </mat-form-field>
        </div>

        <div class="mini-container" >
          <mat-form-field [style.width.cm]=17 class="example-full-width" appearance="outline">
            <mat-label>Commentaire</mat-label>
            <textarea matInput placeholder="Saisissez un commentaire si nécessaire."
            [formControl]="itemForm.controls['comment']"></textarea>
          </mat-form-field>
        </div>

        <mat-card class = "custom-card" *ngIf="isResourcesRequirement()">
          <mat-card-title>
            <div fxLayout="row" fxLayoutAlign="space-between" fxLayoutGap="8px" >
              <span>Ajouter Les profils requis</span>
              <button mat-icon-button (click)="toggleProfilesForm()">
                <mat-icon>add</mat-icon>
              </button>
            </div>
          </mat-card-title>

          <div formArrayName="profiles" *ngIf="showProfilesForm">
            <div *ngFor="let profile of itemForm.get('profiles')?.controls; let i = index" [formGroupName]="i">
              <div fxLayout="row wrap" fxLayout.lt-sm="column">

                <div fxFlex="50"  class="pr-16">
                  <mat-form-field appearance="outline" class="full-width">
                    <mat-label>Nombre de candidats</mat-label>
                    <input
                      matInput
                      required
                      type="number"
                      name="candidateNumber"
                      formControlName="candidateNumber"
                      placeholder="Nombre de candidats"
                    />
                    <!--mat-error *ngIf="requestedProfileForm.get('value').at(i).get('candidateNumber').invalid && requestedProfileForm.get('value').at(i).get('candidateNumber').touched">
                      Ce champs est requis.
                    </mat-error-->
                </mat-form-field>
                </div>
            
                <!--Fonction-->
              <div fxFlex="50"  class="pr-16">
                <mat-form-field appearance="outline" class="full-width">
                    <mat-label>Fonction</mat-label>
                    <input
                      matInput
                      required
                      name="function"
                      formControlName="function"
                      placeholder="Fonction"
                    />
                    <!--mat-error *ngIf="partnerAddressForm.get('value').at(i).get('num').invalid && partnerAddressForm.get('value').at(i).get('num').touched">
                      Ce champs est requis.
                    </mat-error-->
                </mat-form-field>
              </div>
            
                <div fxFlex="50"  class="pr-16">
                  <mat-form-field appearance="outline" class="full-width">
                      <mat-label>Années d'expérience</mat-label>
                      <input
                        matInput
                        required
                        type="number"
                        name="experienceYears"
                        formControlName="experienceYears"
                        placeholder="Années d'expérience"
                      />
                      <!--mat-error *ngIf="partnerAddressForm.get('value').at(i).get('experienceYears').invalid && partnerAddressForm.get('value').at(i).get('experienceYears').touched">
                        Ce champs est requis.
                      </mat-error-->
                  </mat-form-field>
                  </div>
            
                <!--Code postal-->
                <div fxFlex="50"  class="pr-16">
                  <mat-form-field appearance="outline" class="full-width">
                      <mat-label>Date début</mat-label>
                      <input  
                          matInput [matDatepicker]="picker3" 
                          formControlName="startDate" 
                          placeholder="Date début" 
                      >
                      <mat-datepicker-toggle  matSuffix [for]="picker3"></mat-datepicker-toggle>
                      <mat-datepicker #picker3></mat-datepicker>
                  </mat-form-field>
                </div>
            
                 <!--Ville-->
                 <div fxFlex="50"  class="pr-16">
                  <mat-form-field appearance="outline" class="full-width">
                      <mat-label>Date fin</mat-label>
                      <input  
                          matInput [matDatepicker]="picker4" 
                          formControlName="endDate" 
                          placeholder="Date fin" 
                      >
                      <mat-datepicker-toggle  matSuffix [for]="picker4"></mat-datepicker-toggle>
                      <mat-datepicker #picker4></mat-datepicker>
                  </mat-form-field>
                </div>
            
                <div class="mini-container" >
                  <mat-form-field [style.width.cm]=17 class="example-full-width" appearance="outline">
                    <mat-label>Commentaire</mat-label>
                    <textarea matInput placeholder="Saisissez un commentaire si nécessaire."
                    formControlName="comment"></textarea>
                  </mat-form-field>
                </div>
                <div class="button-container">
                  <div>
                    <button class="left-button" mat-icon-button (click)="removeProfileFormGroup(i)">
                      <mat-icon>delete</mat-icon>
                    </button>
                  </div>
                  <div>
                    <button class="right-button" mat-icon-button (click)="addProfileFormGroup(i)">
                      <mat-icon>add</mat-icon>
                    </button>
                  </div>
                </div>   
              </div>
            </div>
          </div>
        </mat-card>

        <div fxFlex="100" class="mt-16">
          <button mat-raised-button color="primary" (click)="submit()">Enregistrer</button>
          <span fxFlex></span>
          <button mat-button color="warn" type="button" (click)="dialogRef.close(false)">Annuler</button>
        </div>
      </div>
  </form>

