<h1 matDialogTitle>{{data.title}}</h1>
  <form [formGroup]="itemForm" (ngSubmit)="submit()" >
    <div fxLayout="row wrap" fxLayout.lt-sm="column">

    <div fxFlex="50"  class="pr-16">
      <mat-form-field class="full-width" appearance="outline">
        <mat-label>Partenaire</mat-label>
        <mat-select  [formControlName]="'partnerNum'">
          <mat-option *ngFor="let partnerNum of listpartner" [value]="partnerNum.id">{{ partnerNum.name }}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div fxFlex="50"  class="pr-16">
      <mat-form-field class="full-width" appearance="outline">
        <mat-label>Titre</mat-label>
          <input
            matInput
            name="title"
            type="text"
            [formControlName]="'title'"
            placeholder="Titre">
      </mat-form-field>
    </div>
    
    <div fxFlex="50"  class="pr-16">
      <mat-form-field class="full-width" appearance="outline">
        <mat-label>Budget par jour</mat-label>
          <input
            matInput
            name="budgetPerDay"
            type="number"
            [formControlName]="'budgetPerDay'"
            placeholder="Budget par jour">
      </mat-form-field>
    </div>

    <div fxFlex="50"  class="pr-16">
      <mat-form-field class="full-width" appearance="outline">
        <mat-label>Devise</mat-label>
          <mat-select formControlName="currency">
            <mat-option  *ngFor="let currency of sortedCurrencies " [value]="currency">{{ currencyMap[currency] }}</mat-option>
          </mat-select>
      </mat-form-field>
    </div>

    <div fxFlex="50"  class="pr-16">
      <mat-form-field class="full-width" appearance="outline">
        <mat-label>Nombre de candidats</mat-label>
          <input
            matInput
            type="number"
            name="candidateNumber"
            [formControlName]="'candidateNumber'"
            placeholder="Nombre de candidats"
          >
      </mat-form-field>
    </div>

    <div fxFlex="50"  class="pr-16">
      <mat-form-field class="full-width" appearance="outline">
        <mat-label>Type opportunité</mat-label>
        <mat-select  [formControlName]="'requirementType'">
            <mat-option *ngFor="let requirementType of RequirementType" [value]="requirementType" >
                {{reqTypeMap[requirementType]}}
            </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div fxFlex="50"  class="pr-16">
        <mat-form-field class="full-width" appearance="outline">
          <mat-label>Date de réponse</mat-label>
            <input  
              matInput [matDatepicker]="picker" 
              formControlName="responseDate" 
              placeholder="Date de réponse" 
            >
            <mat-datepicker-toggle  matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
      </div>

    

          <div fxFlex="50"  class="pr-16">

            <mat-form-field class="full-width" appearance="outline">
              <mat-label>Date prévue de clôture</mat-label>
                <input  
                  matInput [matDatepicker]="picker1" 
                  formControlName="closureDate" 
                  placeholder="Date prévue de clôture" 
                >
                  <mat-datepicker-toggle  matSuffix [for]="picker1"></mat-datepicker-toggle>
                  <mat-datepicker #picker1></mat-datepicker>
            </mat-form-field>
        </div>
        <div fxFlex="50"  class="pr-16">
          <mat-form-field class="full-width" appearance="outline">
            <mat-label>Démarrage dans</mat-label>
            <mat-select  [formControlName]="'availability'">
              <mat-option *ngFor="let availability of Availability" [value]="availability">{{ availabilityMap[availability] }}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        
        <div fxFlex="50" class="pr-16" *ngIf="isStartDayVisible()">
          <mat-form-field class="full-width" appearance="outline">
            <mat-label>Date prévue de démarrage</mat-label>
            <input  
              matInput [matDatepicker]="picker2" 
              formControlName="startDate" 
              placeholder="Date prévue de démarrage" 
            >
            <mat-datepicker-toggle  matSuffix [for]="picker2"></mat-datepicker-toggle>
            <mat-datepicker #picker2></mat-datepicker>
          </mat-form-field>
        </div>

        <div class="mini-container" >
          <mat-form-field [style.width.cm]=17 class="example-full-width" appearance="outline">
            <mat-label>Commentaire</mat-label>
            <textarea matInput placeholder="Saisissez un commentaire si nécessaire."
            [formControl]="itemForm.controls['comment']"></textarea>
          </mat-form-field>
        </div>

        <div fxFlex="100" class="mt-16">
          <button mat-raised-button color="primary" >Enregistrer</button>
          <span fxFlex></span>
          <button mat-button color="warn" type="button" (click)="dialogRef.close(false)">Annuler</button>
        </div>
      </div>
  </form>

