<mat-card class="p-0">
  <mat-card-title class="">
     <div class="card-title-text"><mat-icon>
      info_outline </mat-icon>Informations générales <strong>{{partner.name}}</strong></div>
    <mat-divider></mat-divider>
  </mat-card-title>
  <mat-card-content>
    <div fxLayout="row wrap">
      <div fxFlex="100" fxFlex.gt-sm="30">
        <mat-card class="p-0">
          <mat-card-content>
            <div class="propic text-center">
              <img [src]= partner.logo alt="">
            </div>
            <div class="profile-title text-center mb-16">
              <div class="main-title">{{ partner.name }}</div>
              <div class="subtitle mb-8"><strong>Parent Company:</strong> {{ partner.parentCompany }}</div>
              <div class="subtitle mb-8"><strong>name: </strong>  {{ partner.ceoName }}</div>
              <div class="text-muted">{{ partner.description }}</div>
            </div>
            <div class="profile-actions mb-16" fxLayoutAlign="center center">
              <button mat-raised-button color="primary">Message</button>
              <span fxFlex="8px"></span>
            </div>
          </mat-card-content>
        </mat-card>
      </div>
      <div fxFlex="100" fxFlex.gt-sm="30">
        <mat-card class="p-0">
          <mat-card-title class="">
            <div class="card-title-text">Partner Contact Info</div>
            <mat-divider></mat-divider>
          </mat-card-title>
          <mat-card-content>
            <mat-list>
              <mat-list-item><mat-icon class="mr-16">phone</mat-icon> + {{ partner.refPhoneNumber }}{{ partner.phoneNumber }}</mat-list-item>
              <mat-list-item><mat-icon class="mr-16">phone</mat-icon> + {{ partner.refPhoneNumber }}{{ partner.phoneNumberTwo }}</mat-list-item>
              <mat-list-item><mat-icon class="mr-16">add_location</mat-icon> {{ partner.postCode }}, {{ partner.city }}</mat-list-item>
              <mat-list-item><mat-icon class="mr-16">public</mat-icon> {{ partner.country }}</mat-list-item>
              <mat-list-item><mat-icon class="mr-16">devices</mat-icon> <strong>Provenance:</strong> {{ partner.provenance }}</mat-list-item>
            </mat-list>
          </mat-card-content>
        </mat-card>
      </div>
      <div fxFlex="100" fxFlex.gt-sm="40">
        <mat-card class="p-0">
          <mat-card-title class="">
            <div class="card-title-text">Administrative Info</div>
            <mat-divider></mat-divider>
          </mat-card-title>
          <mat-card-content>
            <mat-list>
              <mat-list-item><mat-icon class="mr-16">date_range</mat-icon> <strong>Activity Start Date:</strong> {{ partner.activityStartDate }}</mat-list-item>
              <mat-list-item><mat-icon class="mr-16">perm_contact_calendar</mat-icon> <strong>Partnership Date :</strong>  {{ partner.partnerShipDate }}</mat-list-item>
              <mat-list-item><mat-icon class="mr-16">add_location</mat-icon> <strong>Company Status:</strong> {{ partner.companyStatus }}</mat-list-item>
              <mat-list-item><mat-icon class="mr-16">domain</mat-icon>  <strong>Legal Status:</strong>{{ partner.legalStatus }}</mat-list-item>
              <mat-list-item><mat-icon class="mr-16">work</mat-icon> <strong>Work Field:</strong> {{ partner.workField }}</mat-list-item>
              <mat-list-item><mat-icon class="mr-16">group_add</mat-icon> <strong>Staff Number:</strong> {{ partner.staffNumber }}</mat-list-item>
              <mat-list-item><mat-icon class="mr-16">attach_money</mat-icon> <strong>Devise:</strong> {{ partner.devise }}</mat-list-item>
            </mat-list>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
          <mat-accordion multi="false">
            
              <mat-expansion-panel >
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    <mat-icon color="primary">contact_phone </mat-icon>
                    <h6 class="text-18 mb-4"> Adresses <strong>{{partner.name}}</strong></h6>
                    
                    
                  </mat-panel-title>
                 
                </mat-expansion-panel-header>
               
                <button mat-icon-button color="primary" type="button" (click)="openPopUp({},true)">
                  <mat-icon>add</mat-icon>
                </button>
                <div *ngFor="let address of addresses" class="border-bottom pb-16 mb-16">
                    <div fxLyout="row wrap" class="text-blue font-weight-bold">
                       <span>{{address.addressTitle}}</span>
                        <span fxFlex></span>
                        <button mat-icon-button mat-sm-button color="primary" class="mr-16" (click)="openPopUp(address)">
                          <mat-icon>edit</mat-icon>
                        </button>
                        <button mat-icon-button mat-sm-button color="warn" (click)="deleteAddress(address.id)">
                          <mat-icon>delete</mat-icon>
                        </button>
                      </div>
                      <div fxLyout="row wrap" class="text-muted">
                        <small>{{address.street}}</small>
                        
                        
                      </div>
                </div>
                
              </mat-expansion-panel>
               <!--bank accounts here-->
               <mat-expansion-panel>
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    <mat-icon Orders
                    color="primary">account_balance</mat-icon>
                    <h6 class="text-18 mb-4">Comptes bancaires <strong>{{partner.name}}</strong></h6>
                  </mat-panel-title>
                </mat-expansion-panel-header>
                <button mat-icon-button color="primary" type="button" (click)="openPopUp6({},true)">
                  <mat-icon>add</mat-icon>
                </button>
                <div *ngFor="let account of accounts" class="border-bottom pb-16 mb-16">
                    <div fxLyout="row wrap" class="text-blue font-weight-bold">
                    
                        <span>{{account.bankName}}</span>
                        <span fxFlex></span>
                        
                        <button mat-icon-button mat-sm-button color="primary" class="mr-16" (click)="openPopUp5(account)">
                          <mat-icon>edit</mat-icon>
                        </button>
  
                        <button mat-icon-button mat-sm-button color="warn" (click)="deleteAccount(account.id)">
                          <mat-icon>delete</mat-icon>
                        </button>
                      </div>
                      <div fxLyout="row wrap" class="text-muted">
                        <small>{{account.rib}}</small>
                      </div>
                </div>
               
               
              </mat-expansion-panel>
              <!--offered services here-->
              <mat-expansion-panel>
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    <mat-icon Orders
                    color="primary">room_service</mat-icon>
                    <h6 class="text-18 mb-4">Services offerts <strong>{{partner.name}}</strong></h6>
                  </mat-panel-title>
                </mat-expansion-panel-header>
                <button mat-icon-button color="primary" type="button" (click)="openPopUp5({},true)">
                  <mat-icon>add</mat-icon>
                </button>
                <div *ngFor="let service of offered" class="border-bottom pb-16 mb-16">
                    <div fxLyout="row wrap" class="text-blue font-weight-bold">
                    
                        <span>{{service.serviceType}}</span>
                        <span fxFlex></span>
                        
                        <button mat-icon-button mat-sm-button color="primary" class="mr-16" (click)="openPopUp5(service)">
                          <mat-icon>edit</mat-icon>
                        </button>
  
                        <button mat-icon-button mat-sm-button color="warn" (click)="deleteOfferedService(service.id)">
                          <mat-icon>delete</mat-icon>
                        </button>
                      </div>
                      <div fxLyout="row wrap" class="text-muted">
                        <small>{{service.title}}</small>
                      </div>
                </div>
               
               
              </mat-expansion-panel>
              <!--social media here-->
              <mat-expansion-panel>
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    <mat-icon Orders
                    color="primary">  phonelink_ring</mat-icon>
                    <h6 class="text-18 mb-4">Social Medias <strong>{{partner.name}}</strong></h6>
                  </mat-panel-title>
                </mat-expansion-panel-header>
                <button mat-icon-button color="primary" type="button" (click)="openPopUp4({},true)">
                  <mat-icon>add</mat-icon>
                </button>
                <div *ngFor="let socialMedia of socialMedias" class="border-bottom pb-16 mb-16">
                    <div fxLyout="row wrap" class="text-blue font-weight-bold">
                    
                        <span>{{socialMedia.name}}</span>
                        <span fxFlex></span>
                        
                        <button mat-icon-button mat-sm-button color="primary" class="mr-16" (click)="openPopUp4(socialMedia)">
                          <mat-icon>edit</mat-icon>
                        </button>
  
                        <button mat-icon-button mat-sm-button color="warn" (click)="deleteSocialMedia(socialMedia.id)">
                          <mat-icon>delete</mat-icon>
                        </button>
                        <button mat-icon-button mat-sm-button color="primary" ><!--(click)=""-->
                          <mat-icon class="mr-16">link</mat-icon>
                        </button>
                      </div>
                      <div fxLyout="row wrap" class="text-muted">
                        <small>{{socialMedia.link}}</small>
                      </div>
                </div>
               
               
              </mat-expansion-panel>
              
              <!--contacts here-->
              <mat-expansion-panel>
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    <mat-icon Orders
                    color="primary">contact_phone</mat-icon>
                    <h6 class="text-18 mb-4">Contacts <strong>{{partner.name}}</strong></h6>
                  </mat-panel-title>
                </mat-expansion-panel-header>
                <button mat-icon-button color="primary" type="button" (click)="openPopUp2({},true)">
                  <mat-icon>add</mat-icon>
                </button>
                <mat-table [dataSource]="dataSource" matSort >
  
  
  
  
                  <ng-container matColumnDef="firstName">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> Prénom </mat-header-cell>
                    <mat-cell *matCellDef="let row" data-label="firstName"> {{row.firstName}} </mat-cell>
                  </ng-container>
              
              
              
                  <ng-container matColumnDef="lastName">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> Nom </mat-header-cell>
                    <mat-cell *matCellDef="let row" data-label="lastName"> {{row.lastName}} </mat-cell>
                  </ng-container>
              
                    
                  <ng-container matColumnDef="function">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> Fonction </mat-header-cell>
                    <mat-cell *matCellDef="let row" data-label="function"> {{row.function}} </mat-cell>
                  </ng-container>
              
                  <ng-container matColumnDef="actions">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> Actions </mat-header-cell>
                    <mat-cell *matCellDef="let row">

                      <button mat-icon-button mat-sm-button color="primary" class="mr-16" (click)="openPopUp2(row)">
                        <mat-icon>edit</mat-icon>
                      </button>

                      <button mat-icon-button mat-sm-button color="warn" (click)="deleteContact(row.contactId)">
                        <mat-icon>delete</mat-icon>
                      </button>

                    </mat-cell>
                  </ng-container>
              
                  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                  <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
                </mat-table>
              
              </mat-expansion-panel>
                
              <!--Besoins here-->
              <mat-expansion-panel>
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    <mat-icon Orders
                    color="primary">contact_phone</mat-icon>
                    <h6 class="text-18 mb-4">Besoins <strong>{{partner.name}}</strong></h6>
                  </mat-panel-title>
                </mat-expansion-panel-header>
                <button mat-icon-button color="primary" type="button" (click)="openPopUp3({},true)">
                  <mat-icon>add</mat-icon>
                </button>
                <mat-table [dataSource]="dataSource2" matSort >
  
  
  
  
                  <ng-container matColumnDef="title">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> title </mat-header-cell>
                    <mat-cell *matCellDef="let row" data-label="title"> {{row.title}} </mat-cell>
                  </ng-container>
              
              
              
                  <ng-container matColumnDef="description">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> description </mat-header-cell>
                    <mat-cell *matCellDef="let row" data-label="description"> {{row.description}} </mat-cell>
                  </ng-container>
              
                    
          
          
                      <!--ng-container matColumnDef="totalCandidateNumber">
                      <mat-header-cell *matHeaderCellDef mat-sort-header> totalCandidateNumber </mat-header-cell>
                      <mat-cell *matCellDef="let row" data-label="totalCandidateNumber"> {{row.totalCandidateNumber}} </mat-cell>
                    </ng-container-->
          
                              
                    <ng-container matColumnDef="requirementType">
                      <mat-header-cell *matHeaderCellDef mat-sort-header> requirementType </mat-header-cell>
                      <mat-cell *matCellDef="let row" data-label="requirementType"> {{row.requirementType}} </mat-cell>
                    </ng-container>
          
                              
                    <ng-container matColumnDef="requirementStatus">
                      <mat-header-cell *matHeaderCellDef mat-sort-header> requirementStatus </mat-header-cell>
                      <mat-cell *matCellDef="let row" data-label="requirementStatus"> {{row.requirementStatus}} </mat-cell>
                    </ng-container>
          
                              
                   
          
                    <ng-container matColumnDef="availability">
                      <mat-header-cell *matHeaderCellDef mat-sort-header> availability </mat-header-cell>
                      <mat-cell *matCellDef="let row" data-label="availability"> {{row.availability}} </mat-cell>
                    </ng-container>
            
            
                  
            
                  
              
                  <ng-container matColumnDef="actions">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> Actions </mat-header-cell>
                    <mat-cell *matCellDef="let row">

                      <button mat-icon-button mat-sm-button color="primary" class="mr-16" (click)="openPopUp3(row)">
                        <mat-icon>edit</mat-icon>
                      </button>
            
                      <button mat-icon-button mat-sm-button color="warn" (click)="deleteBesoin(row.id)">
                        <mat-icon>delete</mat-icon>
                      </button>
            
                    </mat-cell>
                  </ng-container>
              
                  <mat-header-row *matHeaderRowDef="displayedColumns2"></mat-header-row>
                  <mat-row *matRowDef="let row; columns: displayedColumns2;"></mat-row>
                </mat-table>
              
              </mat-expansion-panel>
              <!--Adresses here-->
              <mat-expansion-panel>
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    <mat-icon Orders
                    color="primary">location_on</mat-icon>
                    <h6 class="text-18 mb-4">Adresses <strong>{{partner.name}}</strong></h6>
                  </mat-panel-title>
                </mat-expansion-panel-header>
                <button mat-icon-button color="primary" type="button" (click)="openPopUp({},true)">
                  <mat-icon>add</mat-icon>
                </button>
                <mat-table [dataSource]="dataSource3" matSort >
  
  
  
  
                  <ng-container matColumnDef="ville">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> ville </mat-header-cell>
                    <mat-cell *matCellDef="let row" data-label="ville"> {{row.addressTitle}} </mat-cell>
                  </ng-container>
              
              
              
                  <ng-container matColumnDef="street">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> street </mat-header-cell>
                    <mat-cell *matCellDef="let row" data-label="street"> {{row.street}} </mat-cell>
                  </ng-container>
              
                    
                  <ng-container matColumnDef="actions">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> Actions </mat-header-cell>
                    <mat-cell *matCellDef="let row">
            
                   
            
                      <button mat-icon-button mat-sm-button color="primary" class="mr-16" (click)="openPopUp(row)">
                        <mat-icon>edit</mat-icon>
                      </button>
            
                      <button mat-icon-button mat-sm-button color="warn" (click)="deleteAddress(row.id)">
                        <mat-icon>delete</mat-icon>
                      </button>
                    </mat-cell>
                  </ng-container>
              
                
              
                  <mat-header-row *matHeaderRowDef="displayedColumns3"></mat-header-row>
                  <mat-row *matRowDef="let row; columns: displayedColumns3;"></mat-row>
                </mat-table>
              
              </mat-expansion-panel>
            </mat-accordion>
  </mat-card-content>
</mat-card>
  <!--mat-card class="p-0">
    <mat-card-title class="">
      <div fxLyout="row wrap" >
        <div class="card-title-text">
          <mat-icon> contact_phone </mat-icon>
        <span>Contacts</span>
      </div>
        <span fxFlex></span>
        <span><mat-icon class="mr-16" title="Add a new Contact">add_circle</mat-icon></span>
        <span><mat-icon class="mr-16" title="See My Calendar">perm_contact_calendar</mat-icon></span>
      </div>
      <mat-divider></mat-divider>
    </mat-card-title>
    <mat-card-content>
      <div fxLayout="row wrap">
        <div
        fxFlex="100"
        fxFlex.gt-sm="33"
        fxFlex.sm="50">
          <mat-card class="user-card p-0">
            <mat-card-title class="mb-16">
              <div class="card-title-text">

                <!--a href="" class="toolbar-avatar sm mr-16"><img [src]="user.photo" alt=""></a-->

                <!--span class="text-16">FirstaName LastName</span>
                <span fxFlex></span>
                <button mat-icon-button [matMenuTriggerFor]="userMenu" class="">
                    <mat-icon class="text-muted text-18">more_vert</mat-icon>
                </button>
                <mat-menu #userMenu="matMenu">
                    <button mat-menu-item>Edit</button>
                    <button mat-menu-item>Appointment</button>
                    <button mat-menu-item>Notes</button>
                    <button mat-menu-item>Delete</button>
                </mat-menu>
              </div>
              <mat-divider></mat-divider>
            </mat-card-title>
            <mat-card-content-->

              <!-- user detail lines-->

              <!--mat-list>
                <mat-list-item><mat-icon class="mr-16">card_membership</mat-icon> Funstion Here</mat-list-item>
                <mat-list-item><mat-icon class="mr-16">date_range</mat-icon> Email Here</mat-list-item>
                <mat-list-item><mat-icon class="mr-16">phone</mat-icon> Phone Number Here</mat-list-item>
                <mat-list-item><mat-icon class="mr-16">do_not_disturb_on</mat-icon> Privilege Here</mat-list-item>
                <mat-list-item><mat-icon class="mr-16">insert_comment</mat-icon> Comment Here</mat-list-item>
              </mat-list>
            </mat-card-content>
          </mat-card>
        </div>
      </div>
    </mat-card-content>
  </mat-card-->