<div class="m-4"  [@animate]="{value:'*',params:{y:'50px',delay:'200ms'}}">


    <button mat-raised-button class="mb-2" style="float: right ;"  color="primary" (click)="openPopUp({}, true )">{{"ADD" | translate }}
     Rendez-vous</button>
  
    <mat-form-field  >
      <input matInput (keyup)="applyFilter($event)" placeholder="Filter">
      </mat-form-field> 
   
  </div>
  <mat-card  style="border: 5px; "  [@animate]="{value:'*',params:{y:'10px',delay:'500ms'}}">
    <mat-card-content class="p-0">
      <mat-table [dataSource]="dataSource" matSort  >
  
  
    
  
        

          <ng-container matColumnDef="Date">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Date </mat-header-cell>
            <mat-cell *matCellDef="let row" data-label="Date"> {{row.date}} </mat-cell>
          </ng-container>

        
          


          
          <ng-container matColumnDef="Time">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Time </mat-header-cell>
            <mat-cell *matCellDef="let row" data-label="Time"> {{row.time}} </mat-cell>
          </ng-container>

                    
          <ng-container matColumnDef="Duration">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Duration</mat-header-cell>
            <mat-cell *matCellDef="let row" data-label="Duration"> {{row.duration}} </mat-cell>
          </ng-container>

                    
         
          <ng-container matColumnDef="Subject">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Subject </mat-header-cell>
            <mat-cell *matCellDef="let row" data-label="Subject"> {{row.subject}} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="Contact">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Contact </mat-header-cell>
            <mat-cell *matCellDef="let row" data-label="Subject" > {{ row.contactN  }} </mat-cell>
          </ng-container>
  
  
        
  
        <ng-container matColumnDef="actions">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Action </mat-header-cell>
          <mat-cell *matCellDef="let row">
            
           
  
                <button
                  mat-icon-button
                  routerLink="/gg/{{ row.id }}"
                  routerLinkActive="router-link-active"
                  color="primary"
                >
                  <mat-icon>visibility</mat-icon>
                </button>
  
  
  
            <button mat-icon-button mat-sm-button color="primary" class="mr-16" (click)="openPopUp(row)">
              <mat-icon>edit</mat-icon>
            </button>
            <button mat-icon-button mat-sm-button color="warn" (click)="deleteItem(row.id)">
              <mat-icon>delete</mat-icon>
            </button>
          </mat-cell>
        </ng-container>
  
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
      </mat-table>
      <mat-paginator [pageSizeOptions]="[10, 25, 100]"></mat-paginator>
  
    </mat-card-content>
  </mat-card>