<div class="m-12" [@animate]="{value:'*',params:{y:'50px',delay:'300ms'}}">

    <div class="info-card primary" >
       <div class="description">Here you can put your alerts!!!</div>
    </div>
   <mat-card class="p-0" [@animate]="{ value: '*', params: { y: '50px', delay: '300ms' } }">
     <div fxLayout="row wrap">
       <div
         fxFlex="50"
         fxFlex.gt-sm="20"
         fxFlex.sm="50"
       >
         <div class="text-center pt-16 pb-16 border-right-light">
           <mat-icon class="text-green">show_chart</mat-icon>
           <h4 class="m-0 ">5040</h4>
           <small class="m-0 ">Page views</small>
         </div>
       </div>
       <div
         fxFlex="50"
         fxFlex.gt-sm="20"
         fxFlex.sm="50"
       >
         <div class="text-center pt-16 pb-16 border-right-light">
           <mat-icon class="text-blue">cloud_download</mat-icon>
           <h4 class="m-0 ">1200</h4>
           <small class="m-0 ">Downloads</small>
         </div>
       </div>
       <div
         fxFlex="50"
         fxFlex.gt-sm="20"
         fxFlex.sm="50"
       >
         <div class="text-center pt-16 pb-16 border-right-light">
           <mat-icon class="text-green">comment</mat-icon>
           <h4 class="m-0 ">16420</h4>
           <small class="m-0 ">Comments</small>
         </div>
       </div>
       <div
         fxFlex="50"
         fxFlex.gt-sm="20"
         fxFlex.sm="50"
       >
         <div class="text-center pt-16 pb-16 border-right-light">
           <mat-icon class="text-blue">person</mat-icon>
           <h4 class="m-0 ">3010</h4>
           <small class="m-0 ">Profile views</small>
         </div>
       </div>
       <div
         fxFlex="50"
         fxFlex.gt-sm="20"
         fxFlex.sm="50"
       >
       
         <div class="text-center pt-16 pb-16">
           <mat-icon class="text-red">favorite</mat-icon>
           <h4 class="m-0 ">4070</h4>
           <small class="m-0 ">Likes</small>
         </div>
       </div>
     </div>
   </mat-card>
    
   
   <mat-form-field style="padding-left: 19px;">
    <mat-icon matPrefix>search</mat-icon>
    <input matInput (keyup)="applyFilter($event)" placeholder="Rechercher">
  </mat-form-field>
  
   
   
   <mat-card class="p-0" [@animate]="{value:'*',params:{y:'50px',delay:'300ms'}}">
     <mat-card-content class="p-0">
       <mat-table [dataSource]="dataSource" matSort>
        <ng-container matColumnDef="reference">
          <mat-header-cell *matHeaderCellDef mat-sort-header> 
            <div style="display: flex; flex-direction: column; margin-top: 12px;" >
              <span>Référence</span>
              <mat-form-field style="width:3cm; text-align: center;" >
                <input matInput (input)="applyFilterr($event, 'reference')" placeholder="Filtrer">
             </mat-form-field>
             </div>
           </mat-header-cell> 
          <mat-cell *matCellDef="let row" data-label="reference"> {{row.reference}} </mat-cell>
        </ng-container>


         <ng-container matColumnDef="serialNumber">
           <mat-header-cell *matHeaderCellDef mat-sort-header> 
            <div style="display: flex; flex-direction: column; margin-top: 12px;" >
              <span>Numéro Série</span>
              <mat-form-field style="width:3cm; text-align: center;" >
                <input matInput (input)="applyFilterr($event, 'serialNumber')" placeholder="Filtrer">
             </mat-form-field>
             </div>
           </mat-header-cell>
           <mat-cell *matCellDef="let row" data-label="serialNumber"> {{row.serialNumber}} </mat-cell>
         </ng-container>
   
         <ng-container matColumnDef="type">
          <mat-header-cell *matHeaderCellDef mat-sort-header> 
            <div style="display: flex; flex-direction: column; margin-top: 12px;" >
              <span>Type</span>
              <mat-form-field style="width:3cm; text-align: center;" >
                <input matInput (input)="applyFilterr($event, 'type')" placeholder="Filtrer">
             </mat-form-field>
             </div>
           </mat-header-cell>
           <mat-cell *matCellDef="let row" data-label="type"> {{row.type}} </mat-cell>
         </ng-container>
         
         
         <ng-container matColumnDef="status">
          <mat-header-cell *matHeaderCellDef mat-sort-header>
            <div style="display: flex; flex-direction: column; margin-top: 12px;">
              <span>Statut</span>
              <mat-form-field style="width:3cm; text-align: center;">
                <input matInput (input)="applyFilterr($event, 'status')" placeholder="Filtrer">
              </mat-form-field>
            </div>
          </mat-header-cell>
          <mat-cell *matCellDef="let row">
            <button mat-button class="mat-button-as-chip" [matMenuTriggerFor]="menu"
              [color]="getStatusColor(row.status).color" [disabled]="row.affectation === 'AFFECTED'">
              {{getStatusColor(row.status).displayText }}
            </button>
            <mat-menu #menu="matMenu">
              <button mat-menu-item (click)="changeStatus('status.AVAILABLE', row)">
                <mat-icon>check</mat-icon>
                <span>Disponible</span>
              </button>
              <button mat-menu-item (click)="changeStatus('status.UNAVAILABLE', row)">
                <mat-icon>clear</mat-icon>
                <span>Indisponible</span>
              </button>
            </mat-menu>
          </mat-cell>
        </ng-container>
        
               
        <ng-container matColumnDef="affectation">
          <mat-header-cell *matHeaderCellDef mat-sort-header> 
            <div style="display: flex; flex-direction: column; margin-top: 12px;" >
              <span>Affectation</span>
              <mat-form-field style="width:3cm; text-align: center;" >
                <input matInput (input)="applyFilterr($event, 'affectation')" placeholder="Filtrer">
             </mat-form-field>
             </div>
           </mat-header-cell>
          <mat-cell *matCellDef="let row">
            <button mat-button class="mat-button-as-chip"  [matMenuTriggerFor]="menu" [color]="getAffectationColor(row.affectation).color" >{{getAffectationColor(row.affectation).displayText }}</button>
            <mat-menu #menu="matMenu">
              <button mat-menu-item (click)="changeAffectation('affectation.AFFECTED', row)">
                <mat-icon>check</mat-icon>
                <span>Affecté</span>
              </button>
              <button mat-menu-item (click)="changeAffectation('affectation.UNAFFECTED', row)">
                <mat-icon>clear</mat-icon>
                <span>Non affecté</span>
              </button>
            </mat-menu>
          </mat-cell>
        </ng-container>  
               
       
         <ng-container matColumnDef="actions">
           <mat-header-cell *matHeaderCellDef mat-sort-header> Action </mat-header-cell>
           <mat-cell *matCellDef="let row">
            
             <button mat-icon-button mat-sm-button  class="mr-16" (click)=" openPopUpView(row)">
               <mat-icon>remove_red_eye </mat-icon>
             </button>
        
            
           </mat-cell>
         </ng-container>
   
         <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
         <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
       </mat-table>
       <mat-paginator [pageSizeOptions]="[10, 25, 100]" #paginator></mat-paginator>
   
     </mat-card-content>
   </mat-card>
   </div>
