<h1 matDialogTitle>{{data.title}}</h1>
{{"ajouter" | translate }} {{"rendez-vous" | translate }}
  <form [formGroup]="itemForm" (ngSubmit)="submit()" >
    <mat-card class="p-0">
    <div fxLayout="row wrap" fxLayout.lt-sm="column">
      <div  fxFlex="50"  class="pr-16">
            <mat-form-field class="full-width">
                <mat-label>ContactNum</mat-label>
                <mat-select  [formControlName]="'contactNum'">
                  <mat-option *ngFor="let contactNum of listcontact" [value]="contactNum.id">{{ contactNum.firstName}}</mat-option>
                </mat-select>
              </mat-form-field>
          </div>
          
      <div  fxFlex="50"  class="pr-16">
        <mat-form-field class="full-width">
          <input
            formControlName="date"
            matInput
            [matDatepicker]="picker"
            placeholder="Date"
            required
          />
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
      </div>

   <!---<div fxFlex="50"  class="pr-16">
      <mat-form-field class="full-width">
        <input
        matInput
        formControlName="time"
        ngxMatTimepicker="timepicker" 
        placeholder="time"
      />
      <ngx-mat-timepicker-toggle matSuffix [for]="timepicker"></ngx-mat-timepicker-toggle>
      <ngx-mat-timepicker #timepicker></ngx-mat-timepicker>
    
      </mat-form-field>
    </div> --> 

  

   

   

    
      
          <div fxFlex="50"  class="pr-16">
            <mat-form-field class="full-width">
              <input
              matInput
              name="duration"
              type="number"
              [formControlName]="'duration'"
              placeholder="duration">
            </mat-form-field>
          </div>
          <div fxFlex="50"  class="pr-16">
            <mat-form-field class="full-width">
              <input
              matInput
              name="subject"
              type="text"
              [formControlName]="'subject'"
              placeholder="subject">
            </mat-form-field>
          </div>
          <div fxFlex="100" class="mt-16">
            <button mat-raised-button color="primary" >{{"Enregsitrer" | translate }}</button>
            <span fxFlex></span>
            <button mat-button color="warn" type="button" (click)="dialogRef.close(false)">Ignorer</button>
          </div>
         



     

    

     





    
