<h2 mat-dialog-title>{{ data.title }}</h2>

<mat-dialog-content>
  <div>
    <p><strong>Contract Title:</strong> {{ administrativeData.contractTitle }}</p>
    <p><strong>Current Salary:</strong> {{ administrativeData.currentSalary }}</p>
    <p><strong>Expected Salary:</strong> {{ administrativeData.expectedSalary }}</p>
    <p><strong>Availability:</strong> {{ administrativeData.availability }}</p>
    <p><strong>Availability Date:</strong> {{ administrativeData.availabilityDate }}</p>
  </div>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button (click)="closeDialog()">Close</button>
</mat-dialog-actions>
