<mat-card class="p-0">
    <mat-card-title class="">
       <div class="card-title-text">
          <mat-icon>
            info_outline
          </mat-icon>
          <strong>{{ req.title }}</strong>
        </div>
      <mat-divider></mat-divider>
    </mat-card-title>
    <mat-card-content>
      <div fxLayout="row wrap">
        <div fxFlex="100" fxFlex.gt-sm="33">
          <mat-card class="p-0">
            <mat-card-title class="">
              <div class="card-title-text">Informations générales</div>
              <mat-divider></mat-divider>
            </mat-card-title>
            <mat-card-content>
              <!--div class="propic text-center">
                <img src="assets/images/sq-face-220.jpg" alt="">
              </div-->
              <mat-list>
                <mat-list-item><!--mat-icon class="mr-16" color="primary">business</mat-icon-->
                  Désignation partenaire : <strong>{{ partner.name }}</strong> 
                </mat-list-item>
                <mat-list-item><!--mat-icon class="mr-16" color="primary">business</mat-icon-->
                  Type partenaire :<strong>{{companyStatusMap[partner.companyStatus]}}</strong> 
                </mat-list-item>
                <!--div *ngIf = "!partnerReq()">
                  <mat-list-item>
                    <mat-icon class="mr-16" color="primary">business</mat-icon>
                    Société : <strong>{{ req.company }}</strong>
                  </mat-list-item>
                </div-->
                <!--mat-list-item>
                  <mat-icon class="mr-16" color="primary">work</mat-icon>
                  Secteur d'activité : <strong>{{ workFieldMap[req.workField] }}</strong> 
                </mat-list-item-->
                <mat-list-item>
                  <!--mat-icon class="mr-16" color="primary">timeline</mat-icon-->
                  Etat opportunité : <strong>{{ reqStatusMap[req.requirementStatus] }}</strong> 
                </mat-list-item>
                <mat-list-item>
                  <!--mat-icon class="mr-16" color="primary">category</mat-icon-->
                  Type opportunité : <strong>{{ reqTypeMap[req.requirementType] }}</strong> 
                </mat-list-item>
                <mat-list-item>
                  <!--mat-icon class="mr-16" color="primary">category</mat-icon-->
                  Type paiement : <strong>{{ paymentTypeMap[req.paymentType] }}</strong> 
                </mat-list-item>
              </mat-list>
            </mat-card-content>
          </mat-card>
        </div>
        <div fxFlex="100" fxFlex.gt-sm="30">
          <mat-card class="p-0">
            <mat-card-title class="">
              <div class="card-title-text" style = "text-align:center">Détails opportunité</div>
              <mat-divider></mat-divider>
            </mat-card-title>
            <mat-card-content>
              <mat-list>
                <mat-list-item><!--mat-icon class="mr-16" color="primary">rule</mat-icon--> Type budgétisation : <strong>{{ budgetingTypeMap[req.budgetingType] }}</strong></mat-list-item>
                <mat-list-item><!--mat-icon class="mr-16" color="primary">rule</mat-icon--> Taux jounalier moyen : <strong>{{ req.averageDayCost }}</strong></mat-list-item>
                <mat-list-item><!--mat-icon class="mr-16" color="primary">description</mat-icon--> Devise : <strong>{{ req.currency }}</strong></mat-list-item>
                <!--mat-list-item><mat-icon class="mr-16" color="primary">schedule</mat-icon> Disponibilité : <strong>{{ availabilityMap[req.availability] }}</strong></mat-list-item-->
                <mat-list-item><!--mat-icon class="mr-16" color="primary">people</mat-icon--> Besoin effectif : <strong>{{ req.candidateNumber }}</strong></mat-list-item>
                <!--mat-list-item><mat-icon class="mr-16" color="primary">attach_money</mat-icon> Budget planifié : <strong>{{ req.plannedBudget }}</strong></mat-list-item-->
                <!--mat-list-item><mat-icon class="mr-16" color="primary">mail</mat-icon> {{ req.plannedIncome }}</mat-list-item-->
                <!--mat-list-item><mat-icon class="mr-16">devices</mat-icon> <strong>Provenance:</strong> {{ partner.provenance }}</mat-list-item-->
              </mat-list>
            </mat-card-content>
          </mat-card>
        </div>
        <div fxFlex="100" fxFlex.gt-sm="37">
          <mat-card class="p-0">
            <mat-card-title class="">
              <div class="card-title-text" style = "text-align:center">Dates</div>
              <mat-divider></mat-divider>
            </mat-card-title>
            <mat-card-content>
              <mat-list>
                <mat-list-item><!--mat-icon class="mr-16" color="primary">event</mat-icon-->Date création : <strong>{{ req.creationDate }}</strong></mat-list-item>
                <mat-list-item><!--mat-icon class="mr-16" color="primary">event</mat-icon-->Date réponse : <strong>{{ req.responseDate }}</strong></mat-list-item>
                <mat-list-item><!--mat-icon class="mr-16" color="primary">date_range</mat-icon-->Date prévu de clôture : <strong>{{ req.closureDate }}</strong></mat-list-item>
                <mat-list-item *ngIf = req.startDate><!--mat-icon class="mr-16" color="primary">calendar_today</mat-icon-->Date début : <strong>{{ req.startDate }}</strong></mat-list-item>
                <mat-list-item *ngIf = !req.startDate><!--mat-icon class="mr-16" color="primary">calendar_today</mat-icon-->Démarrage dans : <strong>{{ req.availability }}</strong></mat-list-item>
              </mat-list>
            </mat-card-content>
          </mat-card>
        </div>
      </div>
      <mat-accordion>
        <!--requested profiles here-->
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              <mat-icon Orders
              color="primary">contact_phone </mat-icon>
              <h6 class="text-18 mb-4"> Profils demandés </h6>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <div fxLayout="row wrap" fxLayoutAlign="space-between center" class="border-bottom pb-16 mb-16">
            <span fxFlex></span>
            <button mat-icon-button color="primary" type="button" (click)="openPopUp2(req.id,true)">
            <mat-icon>add</mat-icon>
            </button>
          </div>
          
          <mat-table [dataSource]="dataSource" matSort >




            <ng-container matColumnDef="candidateNumber">
              <mat-header-cell *matHeaderCellDef mat-sort-header> Nombre de candidats </mat-header-cell>
              <mat-cell *matCellDef="let row" data-label="candidateNumber"> {{row.candidateNumber}} </mat-cell>
            </ng-container>
        
        
        
            <ng-container matColumnDef="function">
              <mat-header-cell *matHeaderCellDef mat-sort-header> Fonction </mat-header-cell>
              <mat-cell *matCellDef="let row" data-label="function"> {{row.function}} </mat-cell>
            </ng-container>
        
              
            <ng-container matColumnDef="experienceYears">
              <mat-header-cell *matHeaderCellDef mat-sort-header> Années d'expérience </mat-header-cell>
              <mat-cell *matCellDef="let row" data-label="experienceYears"> {{row.experienceYears}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="period">
              <mat-header-cell *matHeaderCellDef mat-sort-header> Période </mat-header-cell>
              <mat-cell *matCellDef="let row" data-label="period"> {{row.period}} </mat-cell>
            </ng-container>
        
            <ng-container matColumnDef="actions">
              <mat-header-cell *matHeaderCellDef mat-sort-header> Actions </mat-header-cell>
              <mat-cell *matCellDef="let row">

                <button mat-icon-button mat-sm-button color="primary" class="mr-16" (click)="openPopUp2(row)">
                  <mat-icon>edit</mat-icon>
                </button>

                <button mat-icon-button mat-sm-button color="warn" (click)="deleteProfile(row.id)">
                  <mat-icon>delete</mat-icon>
                </button>

              </mat-cell>
            </ng-container>
        
            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
          </mat-table>
        
        </mat-expansion-panel>
      </mat-accordion>  
    </mat-card-content>
  </mat-card>