<mat-card>
    <mat-card-header>
      <mat-card-title>
        {{ partner.name }}
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p><strong>ID:</strong> {{ partner.id }}</p>
      <p><strong>Staff Number:</strong> {{ partner.staffNumber }}</p>
      <p><strong>Parent Company:</strong> {{ partner.parentCompany }}</p>
      <p><strong>CEO Name:</strong> {{ partner.ceoName }}</p>
      <p><strong>Phone Number:</strong> {{ partner.phoneNumber }}</p>
      <p><strong>Phone Number Two:</strong> {{ partner.phoneNumberTwo }}</p>
      <p><strong>Postal Code:</strong> {{ partner.postCode }}</p>
      <p><strong>City:</strong> {{ partner.city }}</p>
      <p><strong>Description:</strong> {{ partner.description }}</p>
      <p><strong>Logo:</strong> {{ partner.logo }}</p>
      <p><strong>Activity Start Date:</strong> {{ partner.activityStartDate }}</p>
      <p><strong>Partnership Date:</strong> {{ partner.partnerShipDate }}</p>
      <p><strong>Company Status:</strong> {{ partner.companyStatus }}</p>
      <p><strong>Ref Phone Number:</strong> {{ partner.refPhoneNumber }}</p>
      <p><strong>Country:</strong> {{ partner.country }}</p>
      <p><strong>Work Field:</strong> {{ partner.workField }}</p>
      <p><strong>Legal Status:</strong> {{ partner.legalStatus }}</p>
      <p><strong>Provenance:</strong> {{ partner.provenance }}</p>
    </mat-card-content>
  </mat-card>